.darkmode {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: var(--lightgray);
  border: 2px solid var(--gray);
  width: 50px;
  height: 26px;
  margin: 0;
  border-radius: 20px;
  flex-shrink: 0;
  transition: all 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--dark);
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
  }

  & svg {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 4px;
    fill: var(--gray);
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  & .dayIcon {
    left: 6px;
  }

  & .nightIcon {
    right: 6px;
  }

  &:hover {
    border-color: var(--darkgray);
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  background: var(--lightgray);

  &::before {
    transform: translateX(24px);
  }

  & > .dayIcon {
    opacity: 0.4;
  }
  & > .nightIcon {
    opacity: 1;
  }
}

:root .darkmode {
  & > .dayIcon {
    opacity: 1;
  }
  & > .nightIcon {
    opacity: 0.4;
  }
}
